:root {
  --remy: #f5e0db;
  --angle-blue: #96aed0;
  --jungle-mist: #9bbfbf;
  --misty-rose: #f9e6e6;
  --bubble-blue: #e6f9f9;
  --yellow: #f9f0e6;
  --pink: #f9e6f0;
  --green: #e6f9f0;
  --blue: #e6f0f9;
  --purple: #f0e6f9;
  --black: #20242c;
  --dark: #201e21;
  --dark-blue: #5e81ac;
  --dark-gray: #505250;
  --purple: #c8cafe;
  --surface0: #f3f4f6;
  --surface1: #f5f5f5;
  --text-gray: #111827;
}
